<p-table [value]="tabela_cobertura" responsiveLayout="scroll">
  <ng-template pTemplate="header">
      <tr>
          <th></th>
          <th></th>
          <th>un.</th>
          <th>Q1'22</th>
          <th>Q2'22</th>
          <th>Q3'22</th>
          <th>Q4'22</th>
      </tr>
  </ng-template>
  <ng-template pTemplate="body" let-product>
      <tr>
          <td></td>
          <td>1</td>
          <td>2</td>
          <td>3</td>
          <td>4</td>

      </tr>
  </ng-template>
</p-table>